//👇👇 Resets 👇👇//

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 
{
    padding: 0;
    margin : 0;
}

ul,
li 
{
    list-style-type: none;
}

a 
{
    text-decoration: none;
}

body{
    background: url('../../assets/images/bg-f.png');
}
main 
{
    background:  rgba(255, 255, 255, 0.85);
    padding-bottom: 100px;
    
}

// 🔴🔴 Resets 🔴🔴 //

//👇👇 correct direction for phone numbers 👇👇//
.ltr{
    direction: ltr;
    margin-top: -3px;
}