
//👇👇 SCSS Variables 👇👇//

$themeClrMod:true;
$light:(bkg:white,font-clr:black);
$dark:(bkg:black,font-clr:white);
// to get this variable list value use:
// e.g >>>  color: map-get($dark,font-clr );

@if $themeClrMod {
    $themeClrMod: $light;
}@else{
    $themeClrMod: $dark;
}

// 🔴🔴 SCSS Variables  🔴🔴// 

//👇👇 CSS Custom Variables 👇👇//

:root{
    box-sizing: border-box;
    font-size:20px;
    --primary: #fff1f4;
    --main-font-clr: #525252;
}

// 🔴🔴 CSS Custom Variables 🔴🔴 //

// body * {
//     outline: 1px solid #036cdb!important
     
//       }

