@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
$brand-clr: rgb(252, 98, 144);
.about{
    text-align: center;
    margin-top: 100px;
}

.about__sub-container{
    h3,p{
        width: 100%;
        text-align: center;

    }
    
}

h3,h2{
    span{
        border-bottom: 5px solid $brand-clr;
    }
} 


@include tablet {
    .about{

        &__intro-container{
            display:flex;

            h1{
                font-size  : calc(1.3rem / 2 + 1.6vw);
                margin-top: 0;
                
            }
            
            .caption{
                width:50%;
            }
            
            figure{
                margin-top: 10px;
            }
    

        }

        &__sub-container{
            display:flex;
            margin-top: 50px;
            *{
                width:calc(100% / 3); 
                margin: 5px;
                
                p{
                    text-align: right;
                }
            }
        }
        .image-hover-box {
            margin-right: 10px;
        }
        }
}





// start styling about section // 
/* Image hover CSS */
.image-hover-box {
    overflow: hidden;
    /*   border: 1px solid red; */
    max-width:600px;
    margin: 0 auto;
}
figure{
  padding: 0;
  margin: 0;

  img{
      width: 100%;
  }
}

.image-hover-box figure {
    position: relative;

}

$hover-clr: rgb(255, 117, 237);
.image-hover-box figure::before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba($hover-clr, 0) 0%, rgba($hover-clr, 0.2) 100%);
    background: linear-gradient(to right, rgba($hover-clr, 0) 0%, rgba($hover-clr, 0.2) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.image-hover-box figure:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.image-hover-box figure img {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.image-hover-box:hover figure img {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/////////////// in touch area ////////////////////
$height: 400px;
.in-touch{
    margin-top: 50px;;
    height: $height;
    position: relative;
    overflow: hidden;
    background: {
        image: img('mother-baby.jpg');
        position: center;
        size: cover;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: $height;
        right: 0;
        top: 0;
        z-index: 0;
        background: rgba(247, 70, 161, 0.5);
        transform: skewX(0deg);
        
    }

    &__container{
        color:white;
        position: relative;
        z-index: 1;
        text-align:center ;

        h3{
            color: #828282;    
            text-shadow: 1px 1px #ffffff;      
        }
        p{
            color:#fdfcfc;
        }
        p:last-child{
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 1px;;
        }
    }
}



@include tablet{
    .in-touch::before{
        margin-right: -50px;
        width: calc(55% + 1vw);
        transform: skewX(-12deg);
    }
    .in-touch__container{
        text-align: right;
        padding-right: 10px;
    }
}



 // 👇👇 Our Services 👇👇 //

.services{
    margin-top: 100px;
    text-align: center;

    &__container{
        width:100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    

}



.snip1401 {
position: relative;
overflow: hidden;
margin: 10px;
min-width: 230px;
max-width: 360px;
max-height: 220px;
width: 100%;
color: white;
text-align: right;
font-size: 16px;
background-color: #000000;
}
.snip1401 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1401 img {
max-width: 100%;
backface-visibility: hidden;
}
.snip1401 figcaption {
position: absolute;
top: 0;
bottom: 0;
right: 0;
z-index: 1;
opacity: 1;
padding: 30px 0 30px 10px;
background-color: $brand-clr;
width: 40%;
-webkit-transform: translateX(150%);
transform: translateX(150%);
}
.snip1401 figcaption:before {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
right: 100%;
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 120px 120px 120px 0;
border-color: transparent $brand-clr transparent transparent;
}
.snip1401:after {
position: absolute;
bottom: 50%;
right: 40%;
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 120px 120px 0 120px;
border-color: rgba($brand-clr, 0.5) transparent transparent transparent;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1401 h3,
.snip1401 p {
line-height: 1.5em;
-webkit-transform: translateX(-30px);
transform: translateX(-30px);
margin: 0;
}
.snip1401 h3 {
margin: 0 0 5px;
line-height: 1.1em;
font-weight: 900;
font-size: 1.4em;
opacity: 0.75;
}
.snip1401 p {
font-size: 0.9em;
}
.snip1401 i {
position: absolute;
bottom: 0;
left: 0;
padding: 20px 30px;
font-size: 44px;
color: #ffffff;
opacity: 0;
}
.snip1401 a {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}

.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
-webkit-transform: translateX(0);
transform: translateX(0);
opacity: 1;
}

@include tablet{
    .services{
        &__container{
            width:99%;
        }
    }
}