include mixins
doctype html
html(lang='ar' dir='rtl')
    head
        block headMixin
    body
        header
            include ../layout/_header
        main
            block mainContent
        footer
            include ../layout/_footer
