include mixins
doctype html
html
    head
        block headMixin
    body
        header
            include ../components/01-header
        main
            block mainContent
        footer
            include ../components/footer
