include mixins
doctype html
html(lang='ar' dir='rtl')
    head
        block headMixin
    body
        header
            include ../layout/_header
        main
            block mainContent
        footer
            include ../layout/_footer
            .ticker
                span.fixed ุฃุฎุจุงุฑ ุงููุฑูุฒ |
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span ๐
                span ูุฑุญุจุง ุจูู ูู ุงููููุน ุงูุฑุณูู ููุณุชุดูู ุฏุงุฑ ุงูุฃูููุฉ
                span.last โค
