ul.social-media
  li: a(href="#whatsUp"): i.fab.fa-facebook-square
  li: a(href="#whatsUp"): i.fab.fa-twitter-square
  li: a(href="#whatsUp"): i.fab.fa-whatsapp-square
  li: a(href="#whatsUp"): i.fab.fa-youtube

.container
  .logo
    a(href='index.html'): +img('dar-omoma-logo.png')
    .logo__sub
      h1 مستشفى دار الأمومة
      h1 DAR ELOMOMA HOSPITAL
  .sub-container
    ul.ham
      li
      li
      li
    nav
      ul
        li.show: a(class= home href='index.html') الرئيسية
        li.show: a(class= about href='about.html') من نحن
        li.show: a(class= services href='about.html') الخدمات
        li.show: a(class= blog href='about.html') المدونة
        li.show: a(class= team href='about.html') الفريق الطبي
        li.show: a(class= contact href='about.html') اتصل بنا

//- 