.swiper-container
    .swiper-wrapper
        .swiper-slide
                .slide-container
                    .caption-container
                        //- h1 شارع عبد السلام الشاذلى امام البوابة الخلفية للنادي الاجتماعي

                +img('slider/slide1.jpg')
        .swiper-slide
                .slide-container
                    //- h1 مستشفى دار الامومة أكبر صرح طبي متقدم فى دمنهور
                    //- p أفضل الاطباء فى تخصصات مختلفة
                +img('slider/slide2.jpg')
        .swiper-slide
                .slide-container
                    //- h1 مستشفى دار الامومة أكبر صرح طبي متقدم فى دمنهور
                    //- p أفضل الاطباء فى تخصصات مختلفة
                +img('slider/slide3.jpg')
        .swiper-slide
                .slide-container
                    //- h1 مستشفى دار الامومة أكبر صرح طبي متقدم فى دمنهور
                    //- p أفضل الاطباء فى تخصصات مختلفة
                +img('slider/slide4.jpg')
        .swiper-slide
                .slide-container
                        //- h1 مستشفى دار الامومة أكبر صرح طبي متقدم فى دمنهور
                        //- p أفضل الاطباء فى تخصصات مختلفة
                +img('slider/slide5.jpg')
        .swiper-slide
                .slide-container
                    //- h1 مستشفى دار الامومة أكبر صرح طبي متقدم فى دمنهور
                    //- p أفضل الاطباء فى تخصصات مختلفة
                +img('slider/slide6.jpg')
        .swiper-slide
                .slide-container
                    //- h1 مستشفى دار الامومة أكبر صرح طبي متقدم فى دمنهور
                    //- p أفضل الاطباء فى تخصصات مختلفة
                +img('slider/slide7.jpg')
        .swiper-slide
                .slide-container
                    //- h1 مستشفى دار الامومة أكبر صرح طبي متقدم فى دمنهور
                    //- p أفضل الاطباء فى تخصصات مختلفة
                +img('slider/slide8.jpg')
    .swiper-pagination
    // Add Arrows
    .swiper-button-next
    .swiper-button-prev