extend abstracts/base
block headMixin
    -
        var siteTitle  = "eng Ayman Morsy",
            desciption = "Frontend web developer self studied",
            keywords   = "web designer,frontend,javascript developer",
            author     = "Ayman Morsy",
            searchEng  = false;
            about = "active";
    +head(siteTitle,desciption,keywords,author,searchEng)
block mainContent
    section.who-we-are
        h2 من نحن
        p مستشفى دار الأمومة هو مستشفى خاص يشمل جميع التخصصات الطبية، تأسسس في عام 2018 – وهو يعتبر احدث وأرقى المستشفيات على المستوى المحلي والعالمي في الخدمات الطبية المميزة المقدمة للمرضى والمراجعين من خلال إستخدام أحدث الأجهزة الطبية، المعدات، الكادر الطبي والفني المميز، مما ينعكس على توفر التشخيص والعلاج والخدمة المميزة للمرضى والمراجعين .
        p إرتأت الإدارة والمستثمرين بناء صرح طبي مميز ليكون فريداً من نوعه في تقديم خدمات الرعاية الصحية للمرضى وفقاً لأفضل التصاميم الفنية والمعمارية التي تضمن أعلى مستويات السلامة للمرضى والموظفين والمراجعين على حدٍ سواء وفقا لأعلى المعايير الدولية.
        p اعلنت إدارة المستشفى تصورها لأهداف المستشفى وكان لهذه الأهداف الدور الرئيس في تطويرالرؤية والرسالة والقيم الجوهرية التي تهدف جميعها نحو خدمة المرضى والموظفين والمراجعين مع المستشفى ليتم تطبيقها والتأكد من أن أعلى مستويات الرعاية الصحية والرضا تصل إليهم بنفس المستوى.
        p.list-title وقد أخذت الإدارة بعين الإعتبار الجوانب التالية عند تصميم بناء المستشفى:
        ol
            li مراعاة التصميم الأفضل بما يحقق انسيابية العمل.
            li سلامة المرضى والمراجعين في المستشفى.
            li سلامة البيئة والوقاية من العدوى.
            li التركيز الأساسي على المريض.
            li الإلتزام  بالمسؤولية المهنية والأخلاقية لتقديم أفضل مستوى من الرعاية الطبية.
            li  توفير أفضل وأحدث الأجهزة الطبية المستخدمة عالمياً مع مواكبة ما يستجد من التكنولوجيا في العالم.
            li توفير الكوادر الطبية المؤهلة وذات الخبرة المناسبة في مجال الرعاية الصحية.
        
        h3  رؤيتنا
        p الإرتقاء في ان نكون مرجعية للمؤسسات الطبية من خلال تميزنا وإنفرادنا  بتوفير  أفضل الخدمات الطبية الممكنة .

        h3 رسالتنا
        p نحن مستشفى دار الأمومة - بإعتبارنا إحدى المستشفيات الخاصة الحديثة في البحيرة - ملتزمون بتوفير أفضل الخدمات الطبية , والفندقية لعملائنا بأعلى المعايير وإجراءات السلامة، ومن خلال تعزيز ثقافة سلامة المرضى وتوفير الراحة لهم بشكل مستمر، وتحسين أدائنا في قطاع الرعاية الصحية في المنطقة. نسعى بأن نكون دائماً  داعماً قوياً للتعليم المستمر والتدريب لكوادرنا، إذ إننا ملتزمون أيضاً في تحقيق الاستخدام الأمثل لأحدث ما وصلت إليه التكنولوجية الطبية.

        h3 شعارنا
        p قلب ينبض لصحتك

        h3 قيمنا
        ol
            li الثقة: الصدق والإتصال  المباشر بين المرضى والموظفين
            li روح الفريق الواحد: تعاون مشترك لجميع الخبرات لتحقيق اهدافنا
            li التعاون: التعاون بين المريض والكادر الطبي بما فيها مختلف التخصصات والمهن
            li النزاهة : الصدق والإنصاف الذاتي في كل ما نقوم به وبضمان السرية والخصوصية
            li الإبتكار: احتضان التغيير والعمل على تحسين كل ما نقوم به