extend abstracts/base
block headMixin
    -
        var siteTitle  = "eng Ayman Morsy",
            desciption = "Frontend web developer self studied",
            keywords   = "web designer,frontend,javascript developer",
            author     = "Ayman Morsy",
            searchEng  = false;
    +head(siteTitle,desciption,keywords,author,searchEng)
block mainContent
    h1 about mainContent ay
    +button('index.html',"Home")