extend abstracts/base
block headMixin
    -
        var siteTitle  = "ุฏุงุฑ ุงูุงูููุฉ ๐",
            desciption = "Frontend web developer self studied",
            keywords   = "web designer,frontend,javascript developer",
            author     = "Ayman Morsy",
            searchEng  = false;
    +head(siteTitle,desciption,keywords,author,searchEng)
block mainContent

    // ๐๐ Swiper slider ๐๐ //

    .swiper-container
        .swiper-wrapper
            .swiper-slide
                    +picture(
                    'slider/4pc_nil9kc_c_scale,w_1400.jpg',
                        `imgs/4pc_nil9kc_c_scale,w_420.webp 420w,
                        imgs/4pc_nil9kc_c_scale,w_720.webp 720w,
                        imgs/4pc_nil9kc_c_scale,w_1014.webp 1014w,
                        imgs/4pc_nil9kc_c_scale,w_1253.webp 1253w,
                        imgs/4pc_nil9kc_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/7pc_plipge_c_scale,w_1400.jpg',
                        `imgs/7pc_plipge_c_scale,w_420.webp 420w,
                        imgs/7pc_plipge_c_scale,w_720.webp 720w,
                        imgs/7pc_plipge_c_scale,w_1014.webp 1014w,
                        imgs/7pc_plipge_c_scale,w_1253.webp 1253w,
                        imgs/7pc_plipge_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/6pc_g3rdd5_c_scale,w_1400.jpg',
                        `imgs/6pc_g3rdd5_c_scale,w_420.webp 420w,
                        imgs/6pc_g3rdd5_c_scale,w_720.webp 720w,
                        imgs/6pc_g3rdd5_c_scale,w_1014.webp 1014w,
                        imgs/6pc_g3rdd5_c_scale,w_1253.webp 1253w,
                        imgs/6pc_g3rdd5_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/1pc_bbi5dj_c_scale,w_1400.jpg',
                        `imgs/1pc_bbi5dj_c_scale,w_420.webp 420w,
                        imgs/1pc_bbi5dj_c_scale,w_720.webp 720w,
                        imgs/1pc_bbi5dj_c_scale,w_1014.webp 1014w,
                        imgs/1pc_bbi5dj_c_scale,w_1253.webp 1253w,
                        imgs/1pc_bbi5dj_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/2pc_mmo06d_c_scale,w_1400.jpg',
                        `imgs/2pc_mmo06d_c_scale,w_420.webp 420w,
                        imgs/2pc_mmo06d_c_scale,w_720.webp 720w,
                        imgs/2pc_mmo06d_c_scale,w_1014.webp 1014w,
                        imgs/2pc_mmo06d_c_scale,w_1253.webp 1253w,
                        imgs/2pc_mmo06d_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/3pc_v9jidx_c_scale,w_1400.jpg',
                        `imgs/3pc_v9jidx_c_scale,w_420.webp 420w,
                        imgs/3pc_v9jidx_c_scale,w_720.webp 720w,
                        imgs/3pc_v9jidx_c_scale,w_1014.webp 1014w,
                        imgs/3pc_v9jidx_c_scale,w_1253.webp 1253w,
                        imgs/3pc_v9jidx_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/5pc_dhitbl_c_scale,w_1400.jpg',
                        `imgs/5pc_dhitbl_c_scale,w_420.webp 420w,
                        imgs/5pc_dhitbl_c_scale,w_720.webp 720w,
                        imgs/5pc_dhitbl_c_scale,w_1014.webp 1014w,
                        imgs/5pc_dhitbl_c_scale,w_1253.webp 1253w,
                        imgs/5pc_dhitbl_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/8pc_plyap0_c_scale,w_1400.jpg',
                        `imgs/8pc_plyap0_c_scale,w_420.webp 420w,
                        imgs/8pc_plyap0_c_scale,w_720.webp 720w,
                        imgs/8pc_plyap0_c_scale,w_1014.webp 1014w,
                        imgs/8pc_plyap0_c_scale,w_1253.webp 1253w,
                        imgs/8pc_plyap0_c_scale,w_1400.webp 1400w`
                    )
            .swiper-slide
                    +picture(
                    'slider/9pc_hvpesg_c_scale,w_1400.jpg',
                        `imgs/9pc_hvpesg_c_scale,w_420.webp 420w,
                        imgs/9pc_hvpesg_c_scale,w_720.webp 720w,
                        imgs/9pc_hvpesg_c_scale,w_1014.webp 1014w,
                        imgs/9pc_hvpesg_c_scale,w_1253.webp 1253w,
                        imgs/9pc_hvpesg_c_scale,w_1400.webp 1400w`
                    )
        .swiper-pagination
        // Add Arrows
        .swiper-button-next
        .swiper-button-prev

    // ๐๐ About Dar Elomoma ๐๐ //

    h1 this is home page2
    p ูุงูุช ุฌูููุฑูุฉ ูุตุฑ ุงูุนุฑุจูุฉ ูู 6 ูู ุฃูุชูุจุฑ ุนุงู  1973 ุจุนุจูุฑ ููุงุฉ ุงูุณููุณ ูุงูุชุญุงู ุฎุท ุจุฑููู ุงูุญุตูู  ู ุฑูุน ุงูุนูู ุงููุตุฑู ุนูู ุงุฑุถ ุณููุงุก ุจูุถู ุจุณุงูุฉ ุงูุฌููุฏ ุงููุตุฑููู ุงูุดุฌุนุงู ุงูุฐูู ุจุฐููุง ููุณ ุชุถุญูุฉ ููุฏุงุก 
    p.bold ูุฑุงุญู ุชุทูุฑ ุงูุถุนู ุงูุฌูุณู
    h1 this is home page2
    p ูุงูุช ุฌูููุฑูุฉ ูุตุฑ ุงูุนุฑุจูุฉ ูู 6 ูู ุฃูุชูุจุฑ ุนุงู  1973 ุจุนุจูุฑ ููุงุฉ ุงูุณููุณ ูุงูุชุญุงู ุฎุท ุจุฑููู ุงูุญุตูู  ู ุฑูุน ุงูุนูู ุงููุตุฑู ุนูู ุงุฑุถ ุณููุงุก ุจูุถู ุจุณุงูุฉ ุงูุฌููุฏ ุงููุตุฑููู ุงูุดุฌุนุงู ุงูุฐูู ุจุฐููุง ููุณ ุชุถุญูุฉ ููุฏุงุก 
    p.bold ูุฑุงุญู ุชุทูุฑ ุงูุถุนู ุงูุฌูุณู
    h1 this is home page2
    p ูุงูุช ุฌูููุฑูุฉ ูุตุฑ ุงูุนุฑุจูุฉ ูู 6 ูู ุฃูุชูุจุฑ ุนุงู  1973 ุจุนุจูุฑ ููุงุฉ ุงูุณููุณ ูุงูุชุญุงู ุฎุท ุจุฑููู ุงูุญุตูู  ู ุฑูุน ุงูุนูู ุงููุตุฑู ุนูู ุงุฑุถ ุณููุงุก ุจูุถู ุจุณุงูุฉ ุงูุฌููุฏ ุงููุตุฑููู ุงูุดุฌุนุงู ุงูุฐูู ุจุฐููุง ููุณ ุชุถุญูุฉ ููุฏุงุก 
    p.bold ูุฑุงุญู ุชุทูุฑ ุงูุถุนู ุงูุฌูุณู
    h1 this is home page2
    p ูุงูุช ุฌูููุฑูุฉ ูุตุฑ ุงูุนุฑุจูุฉ ูู 6 ูู ุฃูุชูุจุฑ ุนุงู  1973 ุจุนุจูุฑ ููุงุฉ ุงูุณููุณ ูุงูุชุญุงู ุฎุท ุจุฑููู ุงูุญุตูู  ู ุฑูุน ุงูุนูู ุงููุตุฑู ุนูู ุงุฑุถ ุณููุงุก ุจูุถู ุจุณุงูุฉ ุงูุฌููุฏ ุงููุตุฑููู ุงูุดุฌุนุงู ุงูุฐูู ุจุฐููุง ููุณ ุชุถุญูุฉ ููุฏุงุก 
    p.bold ูุฑุงุญู ุชุทูุฑ ุงูุถุนู ุงูุฌูุณู
    h1 this is home page2
    p ูุงูุช ุฌูููุฑูุฉ ูุตุฑ ุงูุนุฑุจูุฉ ูู 6 ูู ุฃูุชูุจุฑ ุนุงู  1973 ุจุนุจูุฑ ููุงุฉ ุงูุณููุณ ูุงูุชุญุงู ุฎุท ุจุฑููู ุงูุญุตูู  ู ุฑูุน ุงูุนูู ุงููุตุฑู ุนูู ุงุฑุถ ุณููุงุก ุจูุถู ุจุณุงูุฉ ุงูุฌููุฏ ุงููุตุฑููู ุงูุดุฌุนุงู ุงูุฐูู ุจุฐููุง ููุณ ุชุถุญูุฉ ููุฏุงุก 
    p.bold ูุฑุงุญู ุชุทูุฑ ุงูุถุนู ุงูุฌูุณู
    h1 this is home page2
    p ูุงูุช ุฌูููุฑูุฉ ูุตุฑ ุงูุนุฑุจูุฉ ูู 6 ูู ุฃูุชูุจุฑ ุนุงู  1973 ุจุนุจูุฑ ููุงุฉ ุงูุณููุณ ูุงูุชุญุงู ุฎุท ุจุฑููู ุงูุญุตูู  ู ุฑูุน ุงูุนูู ุงููุตุฑู ุนูู ุงุฑุถ ุณููุงุก ุจูุถู ุจุณุงูุฉ ุงูุฌููุฏ ุงููุตุฑููู ุงูุดุฌุนุงู ุงูุฐูู ุจุฐููุง ููุณ ุชุถุญูุฉ ููุฏุงุก 
    p.bold ูุฑุงุญู ุชุทูุฑ ุงูุถุนู ุงูุฌูุณู

    //- img(src=require("../../assets/images/logo-sm.png"))
    //- img(src=require("./logo-lrg.png"))
