extend abstracts/base
block headMixin
    -
        var siteTitle  = "ุฏุงุฑ ุงูุงูููุฉ ๐",
            desciption = "Frontend web developer self studied",
            keywords   = "web designer,frontend,javascript developer",
            author     = "Ayman Morsy",
            searchEng  = false;
            home = "active";
    +head(siteTitle,desciption,keywords,author,searchEng)
block mainContent
    //- ๐๐๐๐๐๐๐๐๐๐๐๐ Home Page Content ๐๐๐๐๐๐๐๐๐๐๐๐ //

    //- ๐๐ Swiper slider ๐๐ //
    section.slider
        include components/_slider

    //- ๐๐ About Dar Elomoma ๐๐ //-
    section.about
        .about__intro-container
            .caption
                h1 ูุณุชุดูู ุฏุงุฑ ุงูุงูููุฉ
                p ูุณุนุฏูุง ุชูุงุตููุง ูุนูู ูู ุฎูุงู ุงููููุน ุงูุงููุชุฑููู ู ุงูุฐู ูุนุฏ ูุจูุงุจุฉ ุฑุฆูุณูุฉ ูููุฑูุฒ ู ููุฏู ุฎุฏูุงุชูุง ูู ุฎูุงูู ูุฃููุงููุฉ ุงูุญุฌุฒ ู ุงูุงุณุชุดุงุฑุงุช ุงููุฌุงููุฉ ู ุงูุชุนุฑู ุนูู ุงูุณุงู ุงููุฑูุฒ ู ุงุฎุจุงุฑ ุงููุฑูุฒ ู ูููุฏู ุงูุถู ูุณุชูู ูู ุงูุฎุฏูุงุช ุงูุทุจูุฉ ุงูุชู ุชุชุทูุนูู ุงูููุง ู ูุชุญููู ุฑุณุงูุชูุง ุงูุชู ูุคูู ุจูุง ู ุงูุฏุงููุง ุงูุชู ูุณุนู ูุชุญููููุง.
            .image-hover-box
                figure: +img('slider/slide8.jpg')
        .about__sub-container
            .gools
                h3: span ุฃูุฏุงููุง
                p ุงู ููุฏู ุฎุฏูุฉ ุทุจูุฉ ุฌูุฏุฉ ูููุฑุถู ู ุงู ููุซู ุฎุจุฑุงุชูุง ู ููุงุฑุฏูุง ูุฎุฏูุฉ ุงููุฑุถู ู ุชุญููู ุงูุงู ุงููุฑุถู ูู ูุฌุงู ุงูุตุญุฉ ุงูุงูุฌุงุจูุฉ.
            .vision
                h3: span ุฑุคูุชูุง
                p ุชูุตูู ุงูุฎุฏูุฉ ุงูุทุจูุฉ ุงููุชููุฒุฉ ูู ูุฏููุง. ุงูุฃุณุงุณ ุงูุนููู ูู ุชุดุฎูุต ุนูุงุฌ ุญุงูุงุช ุชุฃุฎุฑ ุงูุงูุฌุงุจ ู ุงูุงุฌูุงุถ ุงููุชูุฑุฑ ูู ูููุฌูุง. ูุณุนู ุฏุงุฆูุง ูุฃู ูููู ูุฑูุฒ ุงุทูุงู ุฃูุงุจูุจ ู ุญูู ูุฌูุฑู ูุชุจุน ูุนุงููุฑ ุงูุฌูุฏุฉ ู ูุฐูู ุญูููุง ุฃุนูู ูุณุจ ูุฌุงุญ ู ุจูุดูุฆุฉ ุงููู ุงูุชูููู ููููุง. 
            .msg
                h3: span ุฑุณุงูุชูุง
                p ููููุง * ุงูุงูุชุฒุงู ู ุงููุณุฆูููุฉ. * ุงุญุชุฑุงู ุฎุตูุตูุฉ ุงููุฑุถู. * ุงูุงูุชูุงุฒ ูู ุชูุฏูู ุงูุฑุนุงูุฉ ุงูุทุจูุฉ. 
    
    //- ๐๐ Get in touch ๐๐ //-
    section.in-touch
        .in-touch__container
            h3 ูุณุชุดูู ุฏุงุฑ ุงูุงูููุฉ
            p ุฏููููุฑ - ุดุงุฑุน ุนุจุฏ ุงูุณูุงู ุงูุดุงุฐูู
            p ุงูุงู ุงูุจูุงุจุฉ ุงูุฎูููุฉ (ุญูุงู ุงูุณุจุงุญุฉ) ูููุงุฏู ุงูุงุฌุชูุงุน
            p.ltr (045) 31 95 900
            p info@darelomoma.com 

    //- ๐๐ Our Services ๐๐ //-

    section.services
        h2: span ุฎุฏูุงุชูุง
        .services__container
            figure.snip1401.hover
                +img('services/emrgency-s.jpg')
                figcaption
                    h3 ุทูุงุฑูุก ูุณุงุก
                    p ุทูู ูุจูุฑ - ุงููุฒูู ุงูููุจูู - ูุฒูู ุงูุณุงุฆู ุงูุงููููุณู ...
                i.fal.fa-ambulance
                //- a(href='#')

            figure.snip1401
                +img('services/zokora-s.jpg')
                figcaption
                    h3 ุนูุงุฏุฉ ุงูุฐููุฑุฉ
                    p ูู ูุง ูุฎุต ุงูุตุญุฉ ุงูุฌูุณูุฉ ููุฑุฌู
                i.fal.fa-male
                //- a(href='#')

            figure.snip1401
                +img('services/childern-s.jpg')
                figcaption
                    h3 ุนูุงุฏุฉ ุงูุฃุทูุงู
                    p  ุชูุชู ุจุตุญุฉ ุงูุทูู ู ููู ุงูุทูู ู ุชุบุฐูุฉ ุงูุทูู ู ุงูุฑุงุถ ุงูุงุทูุงู...
                i.fal.fa-baby
                //- a(href='#')

            figure.snip1401
                +img('services/skin-s.jpg')
                figcaption
                    h3  ุงูุฌูุฏูุฉ ูุงูุชุฌููู
                    p ุงูุชูุดูุฑ ุงูููููุงุฆูุ ุชุณููุฉ ุงูุฌูุฏ ุจุงูููุฒุฑุ ุดูุท ุงูุฏูููุ ุงูุชูุนูู ุงููุฑูุณุชุงูู...
                i.fal.fa-allergies
                //- a(href='#')

            figure.snip1401
                +img('services/breath-s.jpg')
                figcaption
                    h3 ุฃูุฑุงุถ ุงูุซุฏู
                    p ุชุดุฎูุต ูุนูุงุฌ ุฃูุฑุงุถ ุงูุซุฏู ูุงูุบุฏุฏ ุงูุตูุงุก...
                i.fal.fa-atom-alt
                //- a(href='#')

            figure.snip1401
                +img('services/dental-s.jpg')
                figcaption
                    h3 ุนูุงุฏุฉ ุงูุฃุณูุงู
                    p ุฌุฑุงุญุฉ ูุนูุงุฌ ุงูุฃุณูุงู ุชุญุช ุฅุดุฑุงู ูุฎุจุฉ ูุชุฎุตุตุฉ ูู ุฃุทุจุงุก ุงูุฃุณูุงู...
                i.fal.fa-tooth
                //- a(href='#')

            figure.snip1401
                +img('services/new-born-s.jpg')
                figcaption
                    h3 ูุญุฏุฉ ุญุฏูุซู ุงูููุงุฏุฉ
                    p ูุนูุงุฌ ุงูุฃุทูุงู ุญุฏูุซู ุงูููุงุฏุฉ ูุงููุจุชุณุฑูู ุฐูู ุงูุญุงูุงุช ุงูุฎุทุฑุฉ ...
                i.fal.fa-baby-carriage
                //- a(href='#')

            figure.snip1401
                +img('services/micro-s.jpg')
                figcaption
                    h3 ุงูุญูู ุงููุฌูุฑู
                    p ุงูุญูู ุงููุฌูุฑู ูุงุฆู ุงูุชูุจูุฑ ุ ุชุญุฏูุฏ ููุน ุงูุฌูููุ ุงููุญุต ุงููุฑุงุซู ููุฃุฌูุฉ...
                i.fal.fa-microscope
                //- a(href='#')

            figure.snip1401
                +img('services/scaner-s.jpg')
                figcaption
                    h3 ุงูููุฌุงุช ุงูุตูุชูุฉ
                    p ูุญูุต ุฃุซูุงุก ุงูุญูู: ุฌูู ุงูุญููุ ุงูุชุตููุฑ ุงูุทุจูู ููุฑูุจุฉ ุงูุฎูููุฉุ ูุญุต ุฃุฌูุฒุฉ ูุจูุฑ ...
                i.fal.fa-x-ray
                //- a(href='#')


