.footer__top
    .container
        .sub
            i.fal.fa-map-marker-smile
            h6 العنوان
        p دمنهور - شارع عبد السلام الشاذلى امام البوابة الخلفية (حمام السباحة) للنادي الاجتماعي
    .wrapper
        .container
            .sub
                i.fal.fa-phone-rotary
                h6 اتصل بنا
            p 045-3187111
        .container
            .sub
                i.fal.fa-envelope
                h6 راسلنا
            p info@darelomoma.com

hr    
.footer__container
    .logo
        a(href='index.html'): +img('darAlOmomaLogoLight.png')
        .logo__sub
            h1 مستشفى دار الأمومة
            h1 DAR ELOMOMA HOSPITAL
            p صحتك تهمنا...❤
        .social-container
            h6 تواصلي معنا
            ul.footer__social-media
                li: a(href="#whatsUp"): i.fab.fa-facebook-square
                li: a(href="#whatsUp"): i.fab.fa-twitter-square
                li: a(href="#whatsUp"): i.fab.fa-whatsapp-square
                li: a(href="#whatsUp"): i.fab.fa-youtube


    .article-fast-links
        h4 روابـط سـريـعـة
        ul
            li: a(href='#') عيادة الاسنان
            li: a(href='#') عيادة الأطفال
            li: a(href='#') عيادة الذكورة
            li: a(href='#') الحقن المجهري
            li: a(href='#') الجلدية والتجميل
    .article-fast-links
        h4 روابـط سـريـعـة
        ul
            li: a(href='#') عيادة الاسنان
            li: a(href='#') عيادة الأطفال
            li: a(href='#') عيادة الذكورة
            li: a(href='#') الحقن المجهري
            li: a(href='#') الجلدية والتجميل
    .article-fast-links
        h4 روابـط سـريـعـة
        ul
            li: a(href='#') عيادة الاسنان
            li: a(href='#') عيادة الأطفال
            li: a(href='#') عيادة الذكورة
            li: a(href='#') الحقن المجهري
            li: a(href='#') الجلدية والتجميل
