.footer
    .footer__container
        .logo
            a(href='index.html'): +img('dar-omoma-logo.png')
            .logo__sub
            h1 مستشفى دار الأمومة
            h1 DAR ELOMOMA HOSPITAL
        p بلا بلا بلا بلا
        ul.footer__social-media
            li.social-media__phone: a.ltr(href="#phone") (045) 31 95 900
            li: a(href="#facebook"): +svg("icon","0 0 512 512","M288 176v-64c0-18 14-32 32-32h32V0h-64c-53 0-96 43-96 96v80h-64v80h64v256h96V256h64l32-80h-96z")
            li: a(href="#Twitter"): +svg("icon","0 0 512 512","M512 97c-19 9-39 14-60 17 21-13 38-34 46-58-21 12-43 20-67 25a105 105 0 00-179 96c-87-4-164-46-216-110a106 106 0 0032 140c-17 0-34-5-48-13v2c0 51 37 93 85 103a105 105 0 01-48 1c14 42 52 73 98 74A211 211 0 010 417c46 30 102 47 161 47a297 297 0 00298-312c21-15 39-34 53-55z")
            li: a(href="#whatsUp"): +svg("icon","0 0 512 512","M256 0A256 256 0 0049 406l-32 95 98-31A256 256 0 10256 0zm149 362c-6 17-31 31-50 36-14 2-31 5-90-20-75-31-124-107-127-112-4-5-31-41-31-77s19-55 26-63c7-6 17-9 27-9h8c8 1 11 1 16 13l23 55c2 4 4 9 2 14l-9 12-11 12c-3 4-7 9-3 16 4 8 20 32 42 52 28 25 51 33 60 37 6 2 13 2 18-3l20-26c5-8 11-9 18-6 7 2 44 21 51 24 8 4 13 6 14 9 2 3 2 18-4 36z")
            li: a(href="#whatsUp"): i.fal.fa-ambulance