header
    .top-header
        .wrapper.flex
            p مرحبا بكم فى المركز الفرنسي للخصوبة والصحة الانجابية
            .phone.flex
                //- +svg('icon',"0 0 405.3 405.3","M373 267c-25 0-49-4-72-12-12-4-25-1-32 7l-46 35c-53-28-87-62-114-115l33-45c9-8 12-20 8-32-7-24-11-48-11-73 0-18-15-32-32-32H32C14 0 0 14 0 32c0 206 167 373 373 373 18 0 32-14 32-32v-74c0-18-14-32-32-32z")
                p #[span &#9742;] 01091700295#[span &#9742;] 0122445599
            include ../components/_social-comp

    .middle.flex
        .log: h1 المركز الفرنسي للخصوبة
        .mail: p info@francecenter.com
        .hotline: p 19775
        
    .bottom
        nav
